@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
*{
    margin:0;
    padding:0;
    width: 100%;
  }
  
  :root {
    --color-principal: #f7dbd8;
    --color-secundario: #6a716c;
    --color-terciario:#e2aaa6;
    --color-cuaternario:#ed41b6;
    --color-letras:#212529
  }
  /*Estilos generales */
  .letraWild{
    font-family: 'Wildy Sans', sans-serif!important;
  }
  .color-secundario{
    background-color: var(--color-secundario);
  }
  html,
  body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18 px;  
    color: var(--color-secundario);
    background-color: var(--color-principal);
  }
  h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 40 px 0;
    font-family: 'Wildy Sans', sans-serif!important;
  }
  h2{
    color: var(--color-letras);
    font-family: 'allenoire-font';
  }

  .App{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
  }

  .contenedor-principal{
    /*min-height: 600px;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-terciario);
  }
  /* Importamos el tipo de letra */
  @font-face {
    font-family: 'allenoire-font';
    src: url('./assets/fonts/allenoire-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Wildy Sans';
    src: url('./assets/fonts/wildy_sans/Wildy-Sans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  