#testimonios-section{
  background-color: var(--color-secundario);
  margin:0 !important;
  padding: 0!important;
  width: 100% !important;
}
  .contenedor-testimonios {
    padding: 20px;
    margin: 20px; /* Espaciado entre los contenedores */
    background-color: #FFFFFF;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .imagen-testimonio{
    border-radius: 50%;
    width: 10rem; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 10rem; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  .contenedor-texto-testimonio{
    text-align: center;
    font-family: 'Acumin Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 10px;
    width: 100%;
  }
  .contenedor-texto-testimonio p{
    font-size: 14.5px;
      font-weight: 400;
    line-height: 1.2rem !important;
  }
  .nombre-testimonio{
    font-family: "Allenoire Free Personal";
    font-size: 1.5rem;
  }
  
  .cargo-testimonio{
    font-family: "Allenoire Free Personal";
    font-size: 0.8rem;
  }
  
  .texto-testimonio{
    margin-top: 10px;
    text-align: justify;
  }
  
  /* Para bajas resoulciones*/
  @media (max-width: 768px) {
    /* Estilos específicos para pantallas pequeñas */
    .contenedor-testimonios {
      display: block;
      text-align: center;
      font-family: 'Acumin Pro', sans-serif;
      font-weight: 400;
      line-height: 1.5rem;
      margin: 20px 0; /* En lugar de margin: 20px; */
      width: 100%; /* En lugar de width: 350px !important; */
    }
    .contenedor-texto-testimonio {
      display: inline;
      margin-top: 10px; 
    }
    .imagen-testimonio{
      border-radius: 50%;
      width: 80%; /* En lugar de width: 250px; */
      height: auto; /* Esto mantendrá la proporción de la imagen */
      display: block; /* Elimina el espacio adicional debajo de la imagen */
      margin: 0 auto;
    }
    .col-lg-3 {
      display: inline-block; /* Hace que las columnas se comporten como elementos en línea */
      float: none; /* Anula el flotado de las columnas */
      vertical-align: top; /* Alinea las columnas en la parte superior */
    }
  }
  
 
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .tu-clase-de-animacion {
    animation: slideInFromLeft 0.5s ease;
  }
  